.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
  height: 300px;
  color:white;
  font-size: 30px;
  background-color: rgba(255,223,167,0.2);
  backdrop-filter: blur(8px);
  border: 5px solid #ca9650;
  box-shadow: 0px 0px 10px black;
  text-align:center;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
}
